{% extends "base.html" %}
{% block title %} Download Page {% endblock %}
{% block head %}
<style>
	body {
		background-color: blanchedalmond;
	}

	h1 {
		color: seagreen;
	}

	h2 {
		color: darkcyan;
	}

	h4 {
		color: deepskyblue;
	}
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	function showProgress() {
		$.ajax({
			url: '/progress',
			dataType: 'json',
			success: function (data) {
				var progress = data.progress;
				if (progress !== null) {
					alert('Download progress: ' + progress + '%');
				}
			}
		});
	}

	// Call the showProgress function every 2 seconds
	setInterval(showProgress, 2000);
</script>
{% endblock %}
{% block body %}
<br>
<h1> ==> {{notify}} </h1>
<br>
<li>
	<ul>
		<h2> Your Video Detail Is </h2>
	</ul>
	<br>
	<h4>
		<ul>
			{{var0}}</ul>
		<br>
		<ul>
			{{var}}</ul>
		<br>
		<ul>
			{{var2}}</ul>
		<br>
		<ul>
			{{var3}}</ul>
		<br>
		<ul>
			{{var4}}</ul>
		<!-- {{this}} -->
	</h4>
	<br>


	{% endblock %}